node_modules/
.env
.DS_Store
dist/

# Flutter
intra_mobil/.dart_tool/
intra_mobil/.flutter-plugins
intra_mobil/.flutter-plugins-dependencies
intra_mobil/.packages
intra_mobil/build/
intra_mobil/android/.gradle/
intra_mobil/android/build/
intra_mobil/android/app/build/
intra_mobil/android/local.properties
intra_mobil/android/key.properties
intra_mobil/ios/Pods/
intra_mobil/ios/.symlinks/
intra_mobil/ios/Flutter/Flutter.framework
intra_mobil/ios/Flutter/Flutter.podspec
intra_mobil/web/
intra_mobil/windows/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.dart_tool/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/pubspec.lock

# Firebase secrets
google-services.json
GoogleService-Info.plist
